@{
    ViewData["Title"] = "_Layout";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/navbar.css"/>
</head>

<body>
    <header>
        <ul class="nav-bar">

            <!--Nav Bar For Desktop-->
            <li class="logo"> <a href="@Url.Action("")" draggable="false">Sensor data API</a></li>
            <li class="github"> <a href="https://github.com/NeuralNuts/CLIMATE-REST-API" target="_blank" draggable="false">Github</a></li>
        </ul>
    </header>

    <object class="api" id="api" data="https://localhost:7033/swagger/index.html">
    </object>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
@RenderBody()
