@{
    ViewData["Title"] = "LoginPage";
}

<head>
    <link rel="stylesheet" type="text/css" href="/css/climate.css"/>
</head>

<body>
    <section>
        <div class="first-div">

        </div>
    </section>
</body>
