@{
    ViewData["Title"] = "RequirementsPage";
}

<head>
    <link rel="stylesheet" type="text/css" href="/css/about.css"/>
</head>

<body>
    <section>
        <div class="first-div">
            <h2>MongoDB and API settings and data constraints </h2>
            <br />
            <h4>Data persistence</h4>
            <p>I am saving my data to a mongodb atlas database therefore i have created data persistence</p>
            <br />
            <h4>Indexing</h4>

            <p>Single Index:</p>
            <img src="~/images/Single-Index.png" />
            <img src="~/images/Single-Index-Atlas.png" />
            <hr class="black-hr"/>
            <br />
            <br />

            <p>Compound Index:</p>
            <img src="~/images/Compound-Index.png" />
            <img src="~/images/Compound-Index-Atlas.png" />
            <hr class="black-hr"/>
            <br />
            <br />

            <p>TTL:</p>
            <img src="~/images/TTL-User-Created-Date.png" />
            <img src="~/images/TTL_User-Created_Date_Atlas.png" />

            <h4>Triggers</h4>
            <br />
            <br />

            <p>1st Trigger:</p>
            <img src="~/images/1st-trigger.png" />
            <img src="~/images/1st-trigger-atlas.png" />
            <hr class="black-hr" />
            <br />
            <br />

            <p>2nd Trigger:</p>
            <img src="~/images/2nd-trigger.png" />
            <img src="~/images/2nd-trigger-atlas.png" />

            <hr />
            <h2>MongoDB and API security requirements</h2>
        </div>
    </section>
</body>