@{
    ViewData["Title"] = "WeatherPage";
}

<head>
    <link rel="stylesheet" type="text/css" href="/css/weather.css"/>
</head>

<body>
    <section>
        <div class="first-div">
            <div class="get-div">
                <h2>Get weather</h2>
                <textarea></textarea>
                <button></button>
                <hr />
            </div>

            <div class="post-div">
                <h2>Post weather</h2>
                <hr />
            </div>

            <div class="put-div">
                <h2>Put weather</h2>
                <hr />
            </div>

            <div class="delete-div">
                <h2>Delete weather</h2>
                <hr />
            </div class="get-div">
                
            <div class="batch-div">
                <h2>Batch weather</h2>
            </div>
        </div>
    </section>
</body>
