@{
    ViewData["Title"] = "WeatherPage";
}

<head>
    <link rel="stylesheet" type="text/css" href="/css/weather.css"/>
</head>

<body>
    <section>
        <div class="first-div">
            <div class="get-div">
                <h2>weather table</h2>
                <table>
                    <tr id="table-info">
                        <th>Id</th>
                        <th>Device Name</th>
                        <th>Precipitation mm/h</th>
                        <th>Time</th>
                        <th>Latitude</th>
                        <th>Longitude</th>
                        <th>Temperature</th>
                        <th>Atmospheric Pressure (kPa)</th>
                        <th>Max Wind Speed (m/s)</th>
                        <th>Solar Radiation (W/m2)</th>
                        <th>Vapor Pressure (kPa)</th>
                        <th>Humidity (%)</th>
                        <th>Wind Direction (°)</th>
                    </tr>

                    <tbody id="weather-table">

                    </tbody>

                </table>
                <hr />
            </div>

            <div class="post-div">
                <h2>Add new weather sensor</h2>
                <h3>Device name</h3>
                <select>

                </select>

                <h3>Precipitation</h3>
                <input />

                <h3>Time</h3>
                <input />

                <h3>Latitude</h3>
                <input />

                <h3>Longitude</h3>
                <input />

                <h3>Temperature</h3>
                <input />

                <h3>Atmospheric Pressure</h3>
                <input />
                 
                <h3>Max Wind Speed</h3>
                <input />

                <h3>Solar Radiation</h3>
                <input />

                <h3>Vapor Pressure</h3>
                <input />

                <h3>Humidity</h3>
                <input />

                <h3>Wind Direction</h3>
                <input />

                <button class="add-buttons" id="add-weather">Add single</button>
                <button class="add-buttons" id="batch-add-weather">Add manny</button>

                <hr />
            </div>

            <div class="put-div">
                <h2>Put weather</h2>
                <hr />
            </div>

            <div class="delete-div">
                <h2>Delete weather</h2>
                <hr />
            </div class="get-div">
                
            <div class="batch-div">
                <h2>Batch weather</h2>
            </div>
        </div>
    </section>
    <script>
        
        weatherArray = []

        $.ajax({
                type: "GET",
                url: "@Url.Action("GetWeather", "Weather")",
                dataType: "JSON",
                success: function (response) {
                    weatherArray = response
                    buildProductTabel(weatherArray)
                    console.log(weatherArray)
                }
            })
            function buildProductTabel(data) {
                var table = document.getElementById('weather-table')
                for (var i = 0; i < data.length; i++) {
                var buttons = `<button>delete</button>`
                    var row = `<tr>
                                   <td>${data[i].id}</td>
                                   <td>${data[i].device}</td>
                                   <td>${data[i].precipitation_mm_h}</td>
                                   <td>${data[i].time}</td>
                                   <td>${data[i].latitude}</td>
                                   <td>${data[i].longitude}</td>
                                   <td>${data[i].temperature_C}</td>
                                   <td>${data[i].atmosphericPressure_kPa}(kPa)</td>
                                   <td>${data[i].maxWindSpeed_ms}(m/s)</td>
                                   <td>${data[i].solarRadiation_Wm2}(W/m2)</td>
                                   <td>${data[i].vaporPressure_kPa}(kPa)</td>
                                   <td>${data[i].humidity_percentage}(%)</td>
                                   <td>${data[i].windDirection}(°)</td>
                                   <td class="td-button">${buttons}</td>
                               </tr>`
                    table.innerHTML += row
                }
            }
    </script>
</body>
