body {
    background-image: none;
    background-color: #d1d1d176;
}

.first-div {
    display: inline-block;
    width: 99.6%;
    position: center;
    border: solid;
    border-color: white;
    background-color: white;
    margin-top: 5%;
    border-radius: 10px;
}

textarea {
    margin-left: 10px;
}

button {
}

h2 {
    font-size: 20px;
    text-transform: uppercase;
    font-family: Arial;
    color: #e11e69d9;
    padding-left: 10px;
}